@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .mobile-bg-image {
    @apply relative;
  }

  @media (max-width: 767px) {
    .mobile-bg-image {
      background-image: url('/images/hero-right.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .mobile-bg-image::before {
      content: "";
      @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-30 pointer-events-none z-0;
    }

    .mobile-bg-image > * {
      @apply relative z-10;
    }
  }

  @media (min-width: 768px) {
    .mobile-bg-image {
      background-image: none !important;
    }
  }
}
